

<div class="edit-item">
  <h1>Editing Book</h1>
</div>

<% if @book.errors.any? %>
  <h2>
    <%= @book.errors.count %> errors prohibited this book from being saved:
  </h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
<% end %>
  </ul>
<% end %>

  <%= form_with model: @book,local:true do |f| %>

    <div class="edit-item">
       <p>Title</p>
       <%= f.text_field :title %>
    </div>
    <div class="edit-item">
      <p>Body</p>
      <%= f.text_area :body %>
    </div>

    <div class="edit-item">
      <%= f.submit 'Update Book' %>
    </div>
  <% end %>

  <div class="edit-link">
    <%= link_to 'Show', book_path(@book.id) %>
    |
    <%= link_to 'Back', "/books" %>
  </div>
